/*  visible no se usa aun */
.visible {
  display: block;
}

.none {
  display: none;
}

/* header */
.header {
  background-color: var(--neutral-bg-white);
  display: grid;
  grid-template-columns: 15% 85%;
}

.header__btn {
  justify-self: start;
  background-color: var(--neutral-text-white);
  border-radius: 3px;
  color: var(--gray-text);
  border: .7px solid var(--gray-text);
  margin: 1rem 0 1rem 1rem;
  padding: .5em;
}

.header__logo {
  justify-self: center;
  align-self: center;
}

.header__nav {
  border-top: solid var(--gray-text) 1px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.header__nav__ul {
  padding: 0.5rem 1rem;
}

.header__nav__ul__li {
  padding: 0.5rem;
}

.header__nav__ul__li__a {
  color: var(--gray-text);
}




/* 

.header__nav__ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav__ul__li {
  margin: 0 1em;
}

.header__nav__ul__li a{
  color: var(--gray-text);
  font-weight: bold;
} */

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }
  .header__btn {
    display: none;
  }
  .header__logo {
    padding: 1em 0;
  }
  .header__nav {
    display: block;
    margin: auto 0;
    border-top: none;
  }
  .header__nav__ul{
    display: flex;
    justify-content: end;
  }
  .header__nav__ul__li--travel{
    order: 2;
  }
  .header__nav__ul__li--drive{
    order: 3;
  }
  .header__nav__ul__li--login{
    order: 1;
  }
}