

/* header */
.header {
  display: flex;
  background-color: var(--neutral-bg-white);
  justify-content: space-between;
  padding: 0 1em;
}

.header__logo {
  padding: 1em 0;
}

.header__nav {
  margin: auto 0;
}

.header__nav__ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav__ul__li {
  margin: 0 1em;
}

.header__nav__ul__li a{
  color: var(--gray-text);
  font-weight: bold;
}