.container {
  height: 40em;
  background-image: url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-size: 100% 410%;
  background-position: 25% 91%;
  position: relative;
}

.container__presentation {
  position: absolute;
  background-color: var(--main-bg-color);
  right: 0;
  top: 20%;
  padding: 2em;
  width: 37%;
}

.container__presentation--title {
  color: var(--neutral-text-white);
  font-size: x-large;
  font-weight: normal;
}

.first-tittle {
  margin: 1em 0;
}

.container__presentation--par {
  color: var(--neutral-text-white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  font-size: large;
  margin: .7em 0;
}

.container__presentation--par img {
  margin-left: .5em;
}

.btn {
  background-color: var(--neutral-text-white);
  border-radius: 3px;
  padding: .5em;
  margin: 1em 0;
  color: var(--gray-text);
  font-weight: bolder;
  border: .7px solid var(--gray-text);
}

.btn-driver {
  margin-top: 4em;
}

.container__presentation--option {
  color: var(--neutral-text-white);
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

.strike {
  position: relative;
}

.strike:before {
  content: " ";
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #111;
  width: 100%;
  border-color: var(--neutral-text-white);
}
